{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About Us Page</title>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/vS.10.0/css/all/.css">
    </head>
    <body>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div class="About Us">
                        <div class="title">
                            <h4>About us</h4>
                        </div>
                        <div class="content">
                            <h3>Our offices are located at the CBD just a few kilometers from the 
                                Kenya medical school directly opposite the meds clinic.
                                We hire office spaces for both personal and group conferences.
                                Our offices are luxious fitted with comfy desktops.
                                We also provide desktop computers and free internet connection.
                                The offices are surrounded by nature providing a condusive working environment.
                                We also offer free parking space for our clients.
                            </h3>
                        </div>
                        <p>
                        <div class="social">
                            <a href=""><i class="fab fa-facebook-f"></i><ion-icon name="logo-facebook"></ion-icon></a>
                            <a href=""><i class="fab fa-instagram"></i><ion-icon name="logo-instagram"></ion-icon></a>
                            <a href=""><i class="fab fa-twitter"></i><ion-icon name="logo-twitter"></ion-icon></a>
                            <a href=""><i class="fab fa-linkedin"><ion-icon name="logo-linkedin"></ion-icon></i>
                            </i></a>
                        </div>
                    </div>
                    <div class="image-section">
                        <img src="{% static 'images/hero.jpg' %}"
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>