<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact page</title>
    </head>
    <body>
        <div class="contact-us">
            <h1>CONTACT US</h1>
            <P>You can reach out to us through email or our social platforms</P>
        </div>
        <div>
            <div class="form">
                <div class="form-item">
                    <input type="text"class="input"placeholder="First Name">
                    <p>
                    <input type="text"class="input"placeholder="last Name">
                    <p>
                    <input type="text"class="input"placeholder="Email">
                    <p>
                    <textarea class="input message"cols="30"=rows="50"placeholder="message"></textarea>
                    <p>
                </div>
                <div>
                    <div class="btn">
                        <input type="submit""send your information"><br>
                        <input type="reset""clear the information">
                    </div>
                </div>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8149491932672!2d36.82370381427473!3d-1.2849936359860237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f116041c8127d%3A0x97121230126f6bd0!2sCBD!5e0!3m2!1sen!2ske!4v1665583327354!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>
</html>