{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport"content="width=device-width, initial scale=1.0">
        <title>Contact page</title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

    </head>
    <body>
        <section class="contact">
            <div class="content">
                <h1>Contact Us</h1>
                <p>This is our contact page.
                    Feel free to reach out to us and leave your comment to help us improve our services.
                    We value our customer's feedback.
                </p>
            </div>
            <div class="container">
                <div class="ContactInfo">
                    <div class="box">
                        <div class="icon"><i class="fa fa-map-maker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>P.O.BOX
                                17037-00500
                            </p>
                        </div>
                    </div>
                    <p>
                    <div class="box">
                        <div class="icon"><i class="fa fa-envelope-o" arial hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>conciliakemunto@gmail.com</p>
                        </div>
                    </div>
                    <p>
                    <div class="box">
                        <div class="icon"><i class="fa fa-phone"aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone Number:</h3>
                            <p>+254 740 259 504</p>
                        </div>
                    </div>
                    <p>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send message</h2>
                        <div class="inputBox">
                            <input type="text"name=""required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text"name=""required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your message</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit"name="" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>