<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact page</title>
    </head>
    <body>
        <div class="contact-us">
            <h1>CONTACT US</h1>
            <P>You can reach out to us through email or our social platforms</P>
        </div>
        <div>
            <div class="form">
                <div class="form-item">
                    <input type="text"class="input"placeholder="First Name">
                    <input type="text"class="input"placeholder="last Name">
                    <input type="text"class="input"placeholder="Email">
                    <textarea class="input message"cols="30"=rows="50"placeholder="message"></textarea>
                </div>
                <div>
                    <div class="btn">
                        <input type="submit""send your information"><br>
                        <input type="reset""clear the information">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>