{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Mara Bespoke Office Spaces</title>
        
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li class="logo"><a href="index.html"></a></a></li>
                    <li class="mobile"><a href="location.html">Location</a></li>
                    <li class="mobile"><a href="contact.html">Contact</a></li>
                    <li class="desktop"><a href="location.html">Location</a></li>
                    <li class="desktop"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="features">
            <figure>
                <img src="{% static 'images/comfortableworkarea.jpg' %}" alt="comfortable work area">
                <figcaption>Comfortable Work Area</figcaption>

            </figure>
            <figure>
                <img src="{% static 'images/amazingofficespace.jpg' %}" alt="amazing office space">
                <figcaption>Amazing Office Spaces</figcaption>

            </figure>
            <figure>
                <img src="{% static 'images/greatambience.jpg' %}" alt="great ambience">
                <figcaption>Great Ambience</figcaption>

            </figure>
           
        </section>

        <footer>
            Kimathi Street Nairobi, Kenya +254-746-338-605 us@me.com 
        </footer>
    </body>

</html>
