{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Mara Bespoke Office Spaces</title>
        
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="desktop"><a href="{% url 'about' %}">About Us</a></li>
                    <li class="desktop"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="features">
            <figure>
                <img src="{% static 'images/comfortableworkarea.jpg' %}" alt="comfortable work area">
                <figcaption>Comfortable Work Area</figcaption>

            </figure>
            <figure>
                <img src="{% static 'images/amazingofficespace.jpg' %}" alt="amazing office space">
                <figcaption>Amazing Office Spaces</figcaption>

            </figure>
            <figure>
                <img src="{% static 'images/greatambience.jpg' %}" alt="great ambience">
                <figcaption>Great Ambience</figcaption>

            </figure>
           
        </section>
        <h1>We offer a variety of services on our Bespoke Packages</h1>
        <li>Presidential Suite</li>
        <li>King Suite</li>
        <li>Queen Suite</li>
        <li>Prince Suite</li> 

        <ul>Welcome to a divine lounge area with state of the art amenities and top notch services in the industry.</ul>

        <footer>
            Kimathi Street Nairobi, Kenya +254-746-338-605 us@me.com 
        </footer>
    </body>

</html>
