*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.section
{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.container
{
    width: 80%;
    display: block;
    padding-top: 100px;
    margin: auto;
}
.content-section
{
    float: left;
    width: 55%;
}
.image-section
{
    float: right;
    width: 40%;
}
.image-section img
{
    width: 100%;
    height:auto;
}
.content-section .title
{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3
{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21;
}
.content-section .content p
{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button
{
    margin-top: 30px;
}

.content-section .content .button a
{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover
{
    background-color: #a52a2a;
    color: #fff;
}
.content-section .social
{
    margin-top: 40px 40px;
}
.content-section .social i
{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover
{
    color: #3d3d3d;

}
    ul{
        margin: left;
    }
    ul li{
        list-style: none;
        display: inline-block;
        float: left;
        line-height: 100px;
    }
    ul li a{
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-family: arial;
        color: #1e1e1e;
        padding: 0 20px;
    }
    ul li a:hover{
        color: red;
    }
    nav{
        width: 50%;
        height: 50%;
        background-color: pink
    }














body {
    font-family: Helvetica Neue Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.6em;
    background-color: #eee;
}

/* HEADER */
/* 
.header {
    background-color: pink;
    background-image: url("images/hero.jpg");
    background-size: 60%;
    background-position: center;
    height: 200px;
    padding: 20px;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 60px;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position:relative;
    text-indent: -9999999px;
    top: -30px;
    width: 300px;
} 

/* RESPONSIVE RULES */
@media screen and (max-width: 715px) {
    header{
        height: 250px;
        background-position: 0 -40px;  
    }
    header.mobile{
        display: inline-block;
    }

    header .desktop{
        display: none;
    }
} */

@media screen and (max-width: 500px){
    .container
{
    width: 80%;
    display: block;
    padding-top: 50px;
    margin: auto;
}
.content-section
{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
}
.image-section
{
    float: none; 
    width: 100%;
}
.image-section img
{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.content-section .title
{
    text-align: center;
    font-size: 19px;
}
.content-section .content .button
{
    text-align: center;
}
.content-section .content .button a
{
    padding: 9px 30px;
}
.content-section .social
{
    text-align: center;
}
    }
    


/* FEATURES */

.features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 500px;

}

.features figure img {
    border: 1px solid white;
    border-radius: 20%;
    box-shadow: grey 0 0 10px;
    width: 400px;

}
/* RESPONSIVE RULES */

@media screen and (max-width: 715px) {
    .features {
        display: block;
    }
}

/* FOOTER */

footer {
    background: black;
    color: grey;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}


